/*
////////////////////////////////////////////////////////////////////////////////
                        MOBILE MOBILE MOBILE MOBILE
////////////////////////////////////////////////////////////////////////////////
*/

/*---------------------------GENERAL SETTINGS---------------------------*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#image {
    width: 100%;
}

[class*="col-"] {
    float: left;
    text-align: center;
    width: 100%;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1em;
    color: white;
    background-color: black;
    margin: 0px;
    border: 0;
    height: 100%;
    line-height: 1.6;
}

.margincontainer {
    margin: 0 15px 50px 15px;
}


header {
    background-image: url(../image_assets/large/navigation_backround.jpg);
    margin: 0px;
    border: 0;
    height: 90px;
    width: 100%;

}

/*---------------------------------NAVIGATION----------------------------*/

/*---------------MOBILE LOGO NAV-----------*/

#logo {
    height: 90px;
}

.logos {
    float: right;
    display: inline-block;
    margin: 15% 4% 0 0;
    padding: 0;
}

.logos li {
    display: inline;
    position: relative;
    bottom: 0;
    padding: 10px;
}

.logos ul {
    margin: 0;
    padding-left: 0px;
}

.symbolM {
    cursor: pointer;
    color: #000;
    font-size: 25px;
}

a {
    font-size: 21px;
    text-decoration: none;
    color: #000;
}

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.inspiredtext.zindex,
#aminavideo.zindex {
    z-index: -1;
}

/*------------------------------------FOOTER------------------------------*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #000;
}

footer p {
    margin: 0;
}

.logosfooter {
    display: none;
}




/*------------------------------HOME MOBILE----------------------------*/

#sana6 {
    padding-top: 20px;
}

.events {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    text-align: center;
    border: solid 2px grey;
    width: auto;
    margin-top: 10px;

}






/*--------------------------------MUSIC MOBILE--------------------------*/

iframe {

    max-height: 100%;
    width: 100%;

}

#aminavideo {
    max-width: 100%;
    height: auto;
    opacity: 0.8;

}

.musicvideo {
    position: relative;
    text-align: center;

}

.inspiredtext {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 26%;
    font-size: 25px;
    opacity: 0.8;
}

.itemsContainer {
    align-content: center;
    position: relative;

}

.image:hover {
    opacity: 0.5;
}

.itemsContainer:hover .play {
    display: block;
}

.itemsContainer:hover .image {
    opacity: 0.5;
}



.play {
    position: absolute;
    display: none;
    top: 10%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    font-size: 120px;
    text-align: center;
    cursor: pointer;
    z-index: 100;


}

button {
    background-color: black;
    color: white;
    border: solid 1px white;
    padding: 10px;
    width: 100%;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.2em;


}

.button1 {
    width: 40%;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 7.5%;

}

.button2 {
    width: 40%;
    height: 65px;

    float: right;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 7.5%;
}

.button1:hover {
    cursor: pointer;
    background-color: dimgray;
    border: none;
}

.button2:hover {
    cursor: pointer;
    background-color: dimgray;
    border: none;
}





.ulmusic {
    list-style-type: none;
    padding: 0;
    margin-top: 6%;


}

.limusic {


    border: solid white 1px;
    display: inline;
    margin-bottom: 20px;
    background-color: black;
    padding: 10px 25px 10px 25px;

}


.amusic {
    color: white;

    padding: 0;
    letter-spacing: normal;
    text-decoration: none;

    font-size: 1em;
    padding: 20px;
}


.limusic:hover {
    cursor: pointer;
    background-color: gray;
    border: none;
}

#whitebackround {
    width: 660px;
    float: left;

    max-width: 100%;
}


.videos {
    height: 100%;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;

}

.videos-content {
    margin-bottom: 50px;
}

.videos a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.videos .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 60px;
    z-index: 1;
}

.morevideos {
    padding: 0;
    height: 37px;
    cursor: pointer;
    width: 50%;
    margin: 2% 25%;
}

.morevideos:hover {
    cursor: pointer;
    background-color: gray;
    border: none;
}



/*---------------------------------ABOUT MOBILE-----------------------------*/

#aboutvideo {
    max-width: 100%;
    margin-bottom: 10%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 20px;

}

#aboutimage {
    padding-top: 20px;
    z-index: -1;
}

#portrait {
    opacity: 0.95;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    z-index: 1;



}

table {
    border: 1px solid white;
    padding: 10px;
    text-align: left;


}

td {
    padding-left: 10px;
}

.table {
    padding: 10px;
}

h {
    font-size: 28px;
}


#nametext {
    font-size: 1.5em;


}

/*-----------------------------CONTACT MOBILE------------------------*/

.text {

    font-size: 18px;
    position: absolute;
    color: white;

}

.text:hover {

    cursor: pointer;
}

.contact {
    padding: 20px;

}

.opacity {
    opacity: 0.5;
}

.opacity:hover {
    opacity: 1;
    cursor: pointer;
}


#contactfooter {
    position: relative;
    top: 0;
    height: 100%;
}

.contactlogosfooter {
    display: inline-block;
    position: relative;
    padding: 50% 0;
    margin: 50px;
}

.contactlogosfooter ul {
    padding: 0;
}

.contactlogosfooter li {
    display: inline;
}

.contactlogosfooter a {
    color: #fff;
    text-align: center;
}


/*
//////////////////////////////////////////////////////////////////////////////
//////////////////////////DESKTOP DESKTOP DESKTOP
/////////////////////////////////////////////////////////////////////////////
*/

/*--------------------------NAVIGATION DESKTOP -----------------*/

@media (min-width: 768px) {


    /*---------------------------GENERAL SETTINGS---------------------------*/
    .margincontainer {
        margin: 0;
    }

    .logos {
        display: none;
    }
    header {
        height: 200px;
    }
    #logo {
        height: 200px;
    }
    .menu {
        position: relative;
        display: inline-block;
        left: 17%;
        bottom: 10px;
        font-weight: 900;
        font: bold;

    }
    .menu li {
        position: relative;
        display: inline;
        padding: 0 30px;
    }
    .menu li a {

        letter-spacing: 5px;
        font-size: 3.2em;
        padding: 0 10px;
        font-weight: 900;
        font: bold;
    }

    .menu a:hover {
        background: #000;
        color: #fff;
    }
    footer p {
        display: none;
    }

    .logosfooter {
        display: inline-block;
        width: 100%;
        height: 50px;
    }
    ul {
        margin: 0px;
        padding: 0px;
    }

    .logosfooter li {
        display: inline-block;
        padding: 0 50px;
    }

    .logosfooter li a {
        color: #fff;
        font-size: 25px;

    }

    .active {
        background: #000;
        color: #fff;
    }

    .active1 {
        background: #000;
        color: #fff;
    }

    .active2 {
        background: #000;
        color: #fff;
    }

    .active3 {
        background: #000;
        color: #fff;
    }



    /*---------------------------------HOME DESKTOP---------------------------*/
    #sana6 {
        padding-top: 60px;
        width: 100%;
    }
    .events {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        align-content: center;
        padding-left: 7%;
        text-align: center;
        border: none;
        margin-bottom: 50px;

    }
    iframe {
        width: 100%;
    }



    /*--------------------------------ABOUT DESKTOP-------------------------*/
    #aboutimage {
        padding-bottom: 50px;
        width: 100%;

    }

    .portrait {
        width: 100%;
        float: left;



    }
    .table {
        width: 100%;
        font-size: 1.3em;
        padding-top: 50px;

    }



    table {
        padding: 20px;
        border: none;

    }
    tr {
        padding-bottom: 10px;
    }
    td {
        padding-left: 20px;
    }
    #nametext {
        padding-right: 49%;

    }
    #bio {
        padding-right: 30%;
        font-size: 1.3em;
        text-align: left;

    }

    #aboutvideo {
        padding-top: 60px;
        width: 75%;
        height: auto;
    }

    .aboutartist {
        padding-top: 20px;

    }


    /*----------------------------MUSIC DESKTOP----------------------------*/
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .col-1 {
        width: 25%;
    }
    .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 75%;
    }
    .col-4 {
        width: 100%;
    }


    .amina {
        height: 480px;
    }
    .bigimage3 {
        text-align: left;
        margin-top: 25%;
    }
    .limusic {
        display: block;
        width: 30%;
        margin-left: 8%;
    }

    .limusic a {
        padding: 0;
    }

    .play.big {
        font-size: 200px;
    }
    .row {
        position: relative;
    }
    #aminavideo {
        width: 75%;
    }

    .Container {
        float: right;
        padding: 0 20px;
    }

    .Container1 {
        float: left;
        padding: 0 20px;
    }

    .Container2 {
        float: right;
    }
    .Container5 {
        float: left;
    }

    .bigimage2 {
        width: 80%;
        margin-left: 15.5%;
        margin-bottom: 20px;
    }

    .morevideos {
        padding: 0;
        height: 37px;
        cursor: pointer;
        width: 10%;
        margin: 1% 45%;
    }
    .amusic {
        text-align: center;
    }

    /* ----------CHECK FOR OVERWRITE---------*/
    .inspiredtext {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        top: 60%;
        font-size: 6em;
        opacity: 0.5;
        margin: 0;
    }
    button {
        background-color: black;
        color: white;
        border-color: white;
        border: solid 1px white;
        padding: 10px;
        width: 100%;

    }

    .button1 {
        width: 35%;
        margin-left: 12%;

    }

    .button2 {
        width: 35%;
        height: auto;
        margin-right: 12%;
    }
    .row {
        position: relative;
    }

    .button1:hover {
        cursor: pointer;
        background-color: dimgray;
        border: none;
    }

    .button2:hover {
        cursor: pointer;
        background-color: dimgray;
        border: none;
    }
    /*------------------------------CONTACT DESKTOP-----------------------*/
    #contactfooter a {
        font-size: 8em;
        padding: 35px;
    }
    .contactlogosfooter {
        padding: 15% 0 0 0;
    }

    .contactlogosfooter {
        display: inline-block;
        width: 100%;
        height: 50px;
        margin: 0;
    }
    ul {
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }

    .contactlogosfotter li {
        display: inline-block;
    }

    .contactlogosfooter li a i {
        color: #fff;
        display: inline-block;
        transition: transform 0.2s;
    }
    .contactlogosfooter li a:hover i {
        transform: scale(1.2);


    }
}
